body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: lightblue;
    padding: 20px;
}

section {
    padding: 20px;
}

.skills, .projects {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.box {
    border: 1px solid gray;
    padding: 15px;
    width: 150px;
    background-color: #f2f2f2;
    transition: 0.3s;
}

.box:hover {
    background-color: lightgreen;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}

/* Mobile Responsive */
@media (max-width: 600px) {
    .skills, .projects {
        flex-direction: column;
        align-items: center;
    }
}